@model Dictionary<string, int>

<h4>Топ-@Model.Count</h4>
<table class="striped">
    <thead>
        <tr>
            <th>
                Навык
            </th>
            <th>
                Упоминаний
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var keyValue in Model)
        {
            <tr>
                <td>
                    @keyValue.Key
                </td>
                <td>
                    @keyValue.Value
                </td>
            </tr>
        }
    </tbody>
</table>
