
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div id="search-form" class="input-field col s6">
        <input id="search-input" type="text" class="validate">
        <label for="search-input">Навык для поиска</label>
    </div>
</div>
<div class="row">
    <a id="search_skills" class="waves-effect waves-light btn">Поиск<i class="material-icons right">done</i></a>
</div>
<div id="results" class="row">

</div>

@section scripts{
<script>
$(document).ready(function () {
    $('#search_skills').click(function (e) {
        e.preventDefault();
        var name = $('#search-input').val();
        name=encodeURIComponent(name);
        $('#results').load('@Url.Action("RecomendationList")?name='+name)
    });
});
</script>
}