@model ICollection<string>

<h3>Советуем ещё...</h3>
@if (Model.Count > 0)
{
<ul class="collection">
    @foreach (var item in Model)
    {
        <li class="collection-item">@item</li>
    }
</ul>
}
else
{
    <br>
    <h4>...а в прочем ничего.</h4>
}

