@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Skills-Miner</h1>
    <p class="lead">Аналитическая система для выявления атуальных компетенций на основе трбований, описанных в вакансих</p>
    <p>
        @Html.ActionLink("Переидти", "Index", "Vacancy", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    
</div>