@model IEnumerable<MarkedZone>

<h2>Помеченные области</h2>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-md-7">Текст</div>
        <div class="col-md-4">Навык</div>
        <div class="col-md-1">X</div>
    </div>
    foreach (MarkedZone zone in Model)
    {
        <div class="row">
            <div class="col-md-7">@zone.HighlightedText</div>
            <div class="col-md-4">@zone.Skill.Name</div>
            <div class="col-md-1">X</div>
        </div>
    }
}
else
{
    <div class="row">Нет данных</div>
}
